%fieldset#shipping-address
  %legend
    Shipping Address
    %label
      = check_box_tag 'same_as_billing', false
      %small ( check if different )

  .address
    %label Address Line1:
    = text_field_tag 'shipping_address[address_line1]', ''
    %br

    %label Address Line2:
    = text_field_tag 'shipping_address[address_line2]', ''
    %br

    %label City:
    = text_field_tag 'shipping_address[address_city]', ''
    %br

    %label State:
    = text_field_tag 'shipping_address[address_state]', ''
    %br

    %label Zip:
    = text_field_tag 'shipping_address[address_zip]', ''
    %br

- content_for :scripts do
  :javascript
    $(document).ready(function(){
      new stripeTest.ShippingActivator($('#shipping-address'), $('#same_as_billing'))
    });

