%section
  %h1 Awesome Product:

  %h2 Price: $1,000.00

  %b Contents:


  = form_tag purchases_path, id: 'payment-form' do
    -# Reference fields: As this is an example app, these hidden values are just for
    -# show how can we send different values for products (this logic should go
    -# on another place :p)

    = hidden_field_tag :amount, 100000
    = hidden_field_tag :description, 'Awesome Product'

    %label Name on Credit Card:
    = text_field_tag 'billing_address[name]', '', data: { stripe: 'name' }

    %label Credit Card Number:
    = text_field_tag 'number', '', data: { stripe: 'number' }

    %label Security Code
    = text_field_tag 'cvc', '', data: { stripe: 'cvc' }

    %label Expiration Date:
    = select_month Date.today,
      { add_month_numbers: true, use_short_month: true },
      data: { stripe: 'exp-month'}
    = select_year Date.today,
      { end_year: 2050 },
      data: { stripe: 'exp-year' }

    = render 'billing_address_fields'

    = render 'shipping_address_fields'

    = submit_tag 'Purchase', class: 'btn center'

- content_for :scripts do
  :javascript
    $(document).ready(function(){
      new stripeTest.Payment({
        stripeKey: "#{STRIPE_PUBLIC_KEY}",
        form: $('#payment-form')
      });
    });

